<!DOCTYPE html>
<html lang="en">
<head>
<head th:include="template :: headFragment(${pageTitle})"></head>
</head>
<body class="sidebar-collapse">
	<div class="wrapper">
		<div th:replace="template :: navbar"></div>
		<div th:replace="template :: sidebar"></div>
<!-- 		===============================================================================================================================================
Work Below >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
====================================================================================================================================================

 -->

		<div class="content-wrapper">
			<div class="content-header"></div>
			<section class="content">
				<div class="container-fluid">
					
					<div class="row">

				
						
						<div class="col-md-4 col-sm-12 col-12">
							<a href="/school1/student_add" class="card text-white bg-primary " >
							  <div class="card-header"><i class="fa fa-graduation-cap fa-3x"></i><b> શ્રી પ્ર. સ. કોઠારી બેહરા - મૂંગા વિવિધલક્ષી વિદ્યાલય </b></div>
							  <div class="card-body">
							    <h5 class="card-title">Juniar School</h5>
							    <p class="card-text">Juniar School With 354 Student Data</p>
							  </div>
							</a>
						</div>
						
						<div class="col-md-4 col-sm-12 col-12">
							<a href="/school2/student_add" class="card text-white bg-warning " >
							  <div class="card-header"><i class="fa fa-graduation-cap fa-3x"></i><b>મંદબુદ્ધિના બાળકોની વિવિધલક્ષી વિદ્યાલય</b></div>
							  <div class="card-body">
							    <h5 class="card-title">High School</h5>
							    <p class="card-text">High School With 354 Student Data</p>
							  </div>
							</a>
						</div>
						
						<div class="col-md-4 col-sm-12 col-12">
							<a href="/school3/student_add" class="card text-white bg-danger " >
							  <div class="card-header"><i class="fa fa-graduation-cap fa-3x"></i><b> શ્રી મ. સ. કોઠારી મૂક- બધિર માધ્યમિક અને ઉચ્ચતર માધ્યમિક શાળા</b></div>
							  <div class="card-body">
							    <h5 class="card-title">Secondary School</h5>
							    <p class="card-text">Secondary School With 354 Student Data</p>
							  </div>
							</a>
						</div>
						
						

						
						


					</div>
					
				

					
					
					
				</div>
			</section>
		</div>



<!-- 		==============================================================================================================================================
Work Above ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
===================================================================================================================================================
 -->

	</div>
	<div th:replace="template :: footer"></div>
	<div th:replace="template :: jsscript"></div>
</body>
</html>

