<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Login | Address Management</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/main.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet'>
    <link rel="stylesheet" href="css/material.css" media="screen">
</head>

<body class="index-body">
    <div class="main-wrapper">
        <div class="card col-lg-4">
            <div class="card-body px-5 py-5">

                <section class="section">
                    <div class="m-1">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <img class="card-title" src="css/web-logo-white2.png">
                                <form class="form-horizontal" id="LoginForm" method="post">
                                    <div class="form-group">
                                        <label class="bmd-label-floating c-blac">Username</label>
                                        <input type="text" name="username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="bmd-label-floating c-blac">Password</label>
                                        <input type="password" name="password" class="form-control" id="password">
                                    </div>
                                    <div class="form-group mt-20">
                                        <div class="col-sm-12">
                                            <button type="submit" name="login" class="btn  btn-sm log-btn" style="background-color:#0a253c !important;width: 100%;border-radius: 20px;color:white; margin-top: 30px; margin-left: -21px;">LOG IN</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div style="margin:40% 0px 0px 26%;  font-size: 15px;">
                                            <br><span>&copy;AlligateSystems</span>
                                            <br>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="heading-tab">
                <h1 class="elegant">Welcome To Manav Kalyaan Trust</h1>
                <h1 class="elegant2"><span style="margin-left:10px;">School Management System</span></h1>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>




























<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | Log in</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/adminlte.min.css}"/>
</head>
<body class="hold-transition">
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>E</b>School</a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg"><b>Login</b></p>
      <form id="LoginForm" method="post">
        <div class="form-group has-feedback">
        <label>Username</label> 
          <input type="text" name="username" class="form-control" value="test" placeholder="User Name">
        </div>
        <div class="form-group has-feedback">
        <label>Password</label>
          <input type="password" name="password" class="form-control" value="pass" placeholder="Password">
        </div>
        <div class="row">
            <button type="submit" id="btnSubmit" class="btn btn-success btn-block btn-flat">Sign In</button>
        </div>
      </form>
      <p class="mb-1 float-right">
         <a href="/register" class="text-warning">Register a new membership</a>
      </p>
    </div>
  </div>
</div>


<script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
 -->