<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/adminlte.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/plugins/SweetAlert2/sweetalert2.min.css}"/>
</head>
<body class="hold-transition">
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Welcome To Manav Kalyaan Trust</b></a>
    <p>School Management System</p>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg"><b>Registration mandatory to start your session</b></p>
      
      <div class="alert alert-warning d-none alert-dismissible" id="errorBox">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <span id="errorFeedback"></span>
      </div>
      
      <form class="form-signin" id="RegisterForm" method="post">
        <p>
          <input type="text" id="username" name="username" class="form-control" placeholder="User Name" required autofocus>
        </p>
        <p>
          <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
        </p>
        <p>
          <input type="text" id="mobile" name="mobile" class="form-control" placeholder="Mobile Number" required>
        </p>
        <p>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button id="btnSubmit" type="button" class="btn btn-lg btn-primary btn-block">Register</button>
      </form>
      
      
      <p class="mb-1 float-right">
         <a href="/login" class="text-warning">I have my credentials</a>
      </p>
    </div>
  </div>
</div>


<script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/SweetAlert2/sweetalert2.min.js}"></script>
<script>
 $('#btnSubmit').on('click', function() {
	var formData = $('#RegisterForm').serialize();
$.ajax({
    url: '/signup',
    method: 'POST',
    data: formData,
    cache : false,
    processData: false
}).done(function(data){
	
	$("#errorBox").removeClass('d-none');
	$("#errorFeedback").text(data.message);
		if (data.status == 200) {
			swal({
                title: "Successfully !",
                text: data.message,
                type: "success",
                width: 300,
                showCancelButton: !0,
                confirmButtonText: 'OK',
                cancelButtonClass: "btn btn-danger m-l-10",
                preConfirm: function () {
                	window.location.href = "/login";
                }
            });
    	} else if (data.status == 300) {
			swal({
                title: "Exist !",
                text: data.message,
                type: "warning",
                width: 300,
                showCancelButton: !0,
                confirmButtonText: 'OK',
                cancelButtonClass: "btn btn-danger m-l-10",
                preConfirm: function () {
                	window.location.href = "/register";
                }
            });
    	}else{
        	swal({
                title: "Error !",
                text: "Something Wents Wrong !",
                type: "error",
                width: 300,
                showCancelButton: !0,
                confirmButtonText: 'OK',
                cancelButtonClass: "btn btn-danger m-l-10"
            });
        } 
});  
}); 
</script>
</body>
</html>
