<!DOCTYPE html>
<html lang="en">

<head>

    <head th:include="template :: headFragment(${pageTitle})"></head>
    <style>
        .custom-select {
            background: none !important;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div th:replace="template :: navbar"></div>
        <div th:replace="template :: sidebar_school2"></div>

        <!-- ------------------Work Below------------------ -->
        <div class="content-wrapper">
            <div class="content-header"></div>
            <section class="content">
                <div class="container-fluid">

                    <!-- Form Fields -->
					<div class="card card-primary">
						<div class="card-header"><h4 class="float-left">પરિણામ મેળવો </h4></div>
						<div class="card-body">
							<form class="" id="CustomeForm" method="post">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group d-none">
											<label>ID</label> <input class="form-control" id="id"
												name="id">
										</div>
									</div>

									<div class="col-xl-6 col-lg-6 col-12 form-group">
										<label>રજિસ્ટર નંબર *</label> <input type="text"
											id="registerNumber" name="registerNumber"
											placeholder="રજિસ્ટર નંબર" class="form-control">
									</div>

									<div class="col-12 form-group mg-t-8">
										<button id="btnSubmit" type="button" class="btn btn-primary">સબમિટ</button>
										<!-- <button id="btnUpdate" type="button" class="btn btn-warning">Update</button> -->
										<button id="btnReset" type="reset" class="btn btn-danger">ફરીથી સેટ કરો</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- Form Fields -->

                    <!-- Data Table -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4 class="float-left">વિદ્યાર્થીઓ સંગ્રહને માર્ક કરે છે</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="customTable" class="table display data-table text-nowrap">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>
        <!-- ------------------Work Above ------------------ -->
        
    </div>
    <div th:replace="template :: jsscript"></div>
    
    
   <script>
    $(document).ready(function() {
    	
    	$('input[type="text"]').change(function(){
     	   this.value = $.trim(this.value);
     	});
    	
    	$('#btnSubmit').on('click', function() {
	          $.ajax({
	              method: 'POST',
	              url: '/school2/result/check/' + $("#registerNumber").val(),
	              cache: false,
	              processData: false
	          }).done(function(data) {
	              if (data.status == 200) {
	                  window.location.href = '/school2/result/get/' + $("#registerNumber").val();
	              } else if (data.status == 300) {
	                  swal({
	                      title: "Alert !",
	                      text: data.message,
	                      type: data.type,
	                      width: 300
	                  });
	              } else {
	                  swal({
	                      title: "Error !",
	                      text: "Something Wents Wrong !",
	                      type: "error",
	                      width: 300
	                  });
	              }
	          });

	      });
		
    	
    	 $.ajax({
			type : 'POST',
			url : '/school2/marks/getAll',
			dataType : 'json',
		}).done(function(data) {
			var mainData  = data.body;
			console.log(mainData)
			 table=$("#customTable").DataTable( {
						data : mainData,
						columns : [ 
							{ title : "રજિસ્ટર નંબર" ,  "data": "registerNumber"  },
							{ title : "રોલ નંબર" ,  "data": "rollNumber"  },
							{
								title : "ક્રિયા",
				                "orderable":      false,
				                "defaultContent": '<span class="float-right">  <button id="delete" type="button" class="btn btn-danger"><i class="fa fa-trash"></button></span>'
				            },
							],
					});
		}); 
    	
        
    	 //delete
     	$('#customTable tbody').on('click', '#delete', function () {
     		
             var tr = $(this).closest('tr');
             var row = table.row(tr);
             swal({
                 title: "Are you sure?",
                 text: "You want to delete?<br>",
                 type: "warning",
                 width: 310,
                 showCancelButton: !0,
                 confirmButtonClass: "btn btn-success",
                 cancelButtonClass: "btn btn-danger m-l-10",
                 confirmButtonText: "Delete it!"
             }).then(function () {
                 $.ajax({
                     type: 'POST',
                     url: '/school2/marks/delete/'+row.data().registerNumber,
                     cache: false,
                     processData: false
                 }).done(function (data) {
                 	console.log(data)
                 	if (data.status == 200) {
                         swal({
                         	title: "Alert !",
                             text: data.message,
                             type: data.type,
                             width: 300,
                             showCancelButton: !0,
                             confirmButtonText: 'OK',
                             cancelButtonClass: "btn btn-danger m-l-10",
                             preConfirm : function() {
     							window.location.href = window.location;
     						}
                         });
                     } else {
                         swal({
                         	title: "Error !",
                             text: "Something Wents Wrong !",
                             type: "error",
                             width: 300,
                             showCancelButton: !0,
                             confirmButtonText: 'OK',
                             cancelButtonClass: "btn btn-danger m-l-10"
                         });
                     }
                 });
             });
         }); 
    });
    </script>
    
 <div th:replace="template :: footer"></div>   
</body>
</html>