<!DOCTYPE html>
<html lang="en">
<head>
<head th:include="template :: headFragment(${pageTitle})"></head>
</head>
<body>
	<div class="wrapper">
		<div th:replace="template :: navbar"></div>
		<div th:replace="template :: sidebar_school2"></div>
<!-- 		===============================================================================================================================================
Work Below >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
====================================================================================================================================================

 -->

		<div class="content-wrapper">
			<div class="content-header"></div>
			<section class="content">
				<div class="container-fluid">
					
					<div class="row">

				
						
						<div class="col-md-4 col-sm-12 col-12">
							<a href="#" class="card text-white bg-success " >
							  <div class="card-header"><i class="fa fa-list"></i> </div>
							  <div class="card-body">
							    <h5 class="card-title"> School-2 </h5>
							  </div>
							</a>
						</div>
						
						

						
						


					</div>
					
				

					
					
					
				</div>
			</section>
		</div>



<!-- 		==============================================================================================================================================
Work Above ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
===================================================================================================================================================
 -->

	</div>
	 <div th:replace="template :: footer"></div> 
	<div th:replace="template :: jsscript"></div>
</body>
</html>

